#recognizer
{
    width: 100%;
    text-align: center;
}

#guessNumberDiv
{
    width: 300px;
    height: 300px;
    border: 1px solid;
    text-align: center;
    background-color: rgb( 255, 255, 255 );
    border-color: #cccccc;
    font-family: sans-serif;
    font-size: 256px;
    line-height: 300px;
}

#drawingCanvasDiv
{
    vertical-align: top;
}

.inlineDiv
{
    display: inline-block;
    vertical-align: top;
}

canvas
{
    cursor: default;
    border: 1px solid;
    border-color: #cccccc;
    outline: 0;
    vertical-align: bottom;
}

canvas.dragging
{
    cursor: crosshair;
}

.silverButton {
    -moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
    -webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
    box-shadow:inset 0px 1px 0px 0px #ffffff;
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ededed), color-stop(1, #dbdbdb));
    background:-moz-linear-gradient(top, #ededed 5%, #dbdbdb 100%);
    background:-webkit-linear-gradient(top, #ededed 5%, #dbdbdb 100%);
    background:-o-linear-gradient(top, #ededed 5%, #dbdbdb 100%);
    background:-ms-linear-gradient(top, #ededed 5%, #dbdbdb 100%);
    background:linear-gradient(to bottom, #ededed 5%, #dbdbdb 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#dbdbdb',GradientType=0);
    background-color:#ededed;
    -moz-border-radius:6px;
    -webkit-border-radius:6px;
    border-radius:6px;
    border:1px solid #dcdcdc;
    display:inline-block;
    cursor:pointer;
    color:#444444;
    font-family: sans-serif;
    font-size:15px;
    font-weight:bold;
    padding: 4px 10px;
    margin: 4px 0 0 0;
    text-decoration:none;
    text-shadow:0px 1px 0px #ffffff;
}
.silverButton:hover {
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #dbdbdb), color-stop(1, #ededed));
    background:-moz-linear-gradient(top, #dbdbdb 5%, #ededed 100%);
    background:-webkit-linear-gradient(top, #dbdbdb 5%, #ededed 100%);
    background:-o-linear-gradient(top, #dbdbdb 5%, #ededed 100%);
    background:-ms-linear-gradient(top, #dbdbdb 5%, #ededed 100%);
    background:linear-gradient(to bottom, #dbdbdb 5%, #ededed 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#dbdbdb', endColorstr='#ededed',GradientType=0);
    background-color:#dbdbdb;
}

.silverButton:active {
    position:relative;
    top:1px;
}
